html {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #1f2937;
    margin: 0px;
    justify-content: space-between;
    width: 1300px;
    height: 100px;
    align-items: center;
    
}

.HEADER-LOGO {
    font-weight: 700;
    color: white;
    padding: 10px;
    padding-left: 200px;
    
}

.header-links {
    display: flex;
    gap: 5px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.awesome {
display: flex;
background-color: #1f2937;
width: 1300px;
height: 400px;
justify-content: space-between;
}

.awesome-column {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 200px;

}

#awesome-big {
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;
    margin-bottom: 0px;
}

.awesome p {
    color: white;
}

.Sign-Up {
    background-color: #3882f6;
    border-radius: 7px;
    width: fit-content;
    font-weight: 800;
    padding: 5px 25px;
    margin: 5px;
}

img {
    width: 500px;
    height: 250px;
    margin: 20px;
    margin-right: 140px;
}

main {
    display: flex;
    flex-direction: column;
    width: 1300px;
}

.Random {
    display: flex;
    width: 1300px;
    justify-content: center;
}

.Random p {
    font-size: 36px;
    font-weight: 800;
}

.giant-box {
    display: flex;
    margin: 10px 280px;
    gap: 60px;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.Quote {
    background-color: #e5e7eb;
    width: 1300px;
}

blockquote {
    font-size:36px;;
}

cite {
    font-size: 20px;
    color: black;
    font-weight: 1000;
}