html {
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #1f2937;
    margin: 0px;
    justify-content: space-between;
    width: 1800px;
    height: 70px;
    align-items: center;
    
}

.HEADER-LOGO {
    font-weight: 700;
    color: white;
    padding: 10px;
    padding-left: 200px;
    
}

.header-links {
    display: flex;
    gap: 5px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.awesome {
display: flex;
background-color: #1f2937;
width: 1800px;
height: 250px;
}

.awesome-column {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#awesome-big {
    font-size: 50px;
    font-weight: 800;

}

.awesome p {
    color: white;
}

.Sign-Up {
    background-color: #3882f6;
    border-radius: 7px;
    width: fit-content;
    font-weight: 800;
    padding: 5px 25px;
    margin: 5px;
}