html {
    box-sizing: content-box;
}

body {
    display: flex;
}

header {
    display: flex;
    background-color: #1f2937;
    margin: 0px;
    justify-content: space-between;
    width: 1400px;
    height: 70px;
}

.HEADER-LOGO {
    font-weight: 700;
    color: white;
    
    
}

.header-links {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}